/* Here goes your CSS */
body {
  background-color: #D3F3C8;
  font-size:20px;
  line-height:30px;
}

div {
    display: block;
}

h1, h2, h3{
  font-family: 'Playfair Display', serif;
  color: #0D355A;
}

a{
  color: #AC1D1C;
  text-decoration:none;
}
a:hover{
  color: #B1EB32;
}
img{
  width: 300px;
  height: auto;
}
.card{
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.container {
  width: 500px;
  margin: 0 auto;
}

.text-center {
    text-align: center;
}
.img-circle {
  border-radius: 50%;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}
.btn-red {
    background-color: #DD5555;
    color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: 4px;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
#movies {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6em;
}
#movies img {
    width: 80px;
}
